<%- include('partials/header') %>
    <div class="container">
        <h1>🏆 Vos Gestionnaires de Mots de Passe Recommandés</h1>
        
        <div class="results-grid">
            <!-- Premier choix -->
            <a href="https://go.nordpass.io/aff_c?offer_id=488&aff_id=39351&url_id=10228&aff_sub=lebigdata" class="result-card first-place" target="_blank" rel="noopener noreferrer">
                <div class="medal">🥇</div>
                <div class="result-content">
                    <img src="https://www.lebigdata.fr/wp-content/uploads/2023/09/logo-nordpass-1.svg" alt="NordPass" class="result-logo">
                    <h2>NordPass : La simplicité et la sécurité à portée de main</h2>
                    <p>Optimisé pour votre quotidien, NordPass est le gestionnaire de mots de passe idéal pour ceux qui cherchent une solution intuitive et accessible.</p>
                </div>
            </a>

            <!-- Deuxième choix -->
            <a href="https://lastpass.wo8g.net/c/3120273/802984/8692" class="result-card second-place" target="_blank" rel="noopener noreferrer">
                <div class="medal">🥈</div>
                <div class="result-content">
                    <img src="https://www.lebigdata.fr/wp-content/uploads/2023/09/logo-lastpass-1.svg" alt="LastPass" class="result-logo">
                    <h2>LastPass : Le compagnon des professionnels et des particuliers exigeants</h2>
                    <p>Que vous soyez un particulier ou une entreprise, LastPass s'adapte à vos besoins grâce à ses fonctionnalités complètes.</p>
                </div>
            </a>

            <!-- Troisième choix -->
            <a href="https://1password.com/affiliate/teams/?cjevent=3381b5904be111ee80da02b50a18ba74&utm_medium=affiliate&utm_source=Publithings&utm_campaign=5959996&utm_content=100829038&utm_term=General+Campaign&cjdata=MXxZfDB8WXwxNjc0Mzg3OTI5NTYz" class="result-card third-place" target="_blank" rel="noopener noreferrer">
                <div class="medal">🥉</div>
                <div class="result-content">
                    <img src="https://www.lebigdata.fr/wp-content/uploads/2023/09/logo-1password-1.svg" alt="1Password" class="result-logo">
                    <h2>1Password : La référence pour une sécurité inégalée</h2>
                    <p>Découvrez 1Password, le gestionnaire de mots de passe préféré des experts en cybersécurité.</p>
                </div>
            </a>
        </div>

        <a href="/" class="button back-button">Refaire le test</a>
    </div>
<%- include('partials/footer') %>